<div class="main-content">
  <div class="container-fluid">
    <div class="row" *ngIf="!addNewPro">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Products Listing</h4>
          </div>
          <div class="td-actions">
            <button mat-raised-button type="button" class="btn btn-danger btn-round" (click)="getProducts()">
              View Active
            </button>
            <button mat-raised-button type="button" class="btn btn-danger btn-round" (click)="getDeletedProducts()">
              View Deleted
            </button>
          </div>

          <div class="td-actions text-right">
            <button mat-raised-button type="button" class="btn btn-danger btn-round" (click)="addPro()">
              <i class="material-icons">add</i>
            </button>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables table-responsive">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th>{{ dataTable.headerRow[0] }}</th>
                    <th>{{ dataTable.headerRow[1] }}</th>
                    <th>{{ dataTable.headerRow[2] }}</th>
                    <th>{{ dataTable.headerRow[3] }}</th>
                    <th>{{ dataTable.headerRow[4] }}</th>
                    <th>{{ dataTable.headerRow[5] }}</th>
                    <th>{{ dataTable.headerRow[6] }}</th>
                    <th>{{ dataTable.headerRow[7] }}</th>
                    <th>{{ dataTable.headerRow[8] }}</th>
                    <th class="disabled-sorting text-right">{{ dataTable.headerRow[9] }}</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>{{ dataTable.footerRow[0] }}</th>
                    <th>{{ dataTable.footerRow[1] }}</th>
                    <th>{{ dataTable.footerRow[2] }}</th>
                    <th>{{ dataTable.footerRow[3] }}</th>
                    <th>{{ dataTable.footerRow[4] }}</th>
                    <th>{{ dataTable.headerRow[5] }}</th>
                    <th>{{ dataTable.headerRow[6] }}</th>
                    <th>{{ dataTable.headerRow[7] }}</th>
                    <th>{{ dataTable.headerRow[8] }}</th>
                    <th class="text-right">{{ dataTable.footerRow[9] }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td>
                      <div class="user">
                        <div class="photo">
                          <img src="{{row[1]}}" />
                        </div>
                      </div>
                    </td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                    <td>{{row[5]}}</td>
                    <td>{{row[6]}}</td>
                    <td>{{row[7]}}</td>
                    <td>{{row[8]}}</td>
                    <td>{{row[9]}}</td>
                    <td class="text-right">
                      <a href="javascript:void(0)" class="btn btn-link btn-info btn-just-icon like"
                        (click)="restoreProClick(row[0])" *ngIf="isDeletedView"><i
                          class="material-icons">favorite</i></a>
                          <a href="javascript:void(0)" (click)="copyLink(row[0])" class="btn btn-link btn-info btn-just-icon like"
                         *ngIf="!isDeletedView"><i
                          class="material-icons">link</i></a>
                      <a href="javascript:void(0)" class="btn btn-link btn-warning btn-just-icon edit"
                        (click)="editProClick(row[0])" *ngIf="!isDeletedView"><i class="material-icons">edit</i></a>
                      <a href="javascript:void(0)" class="btn btn-link btn-danger btn-just-icon remove"
                        (click)="deletePro(row[0])" *ngIf="!isDeletedView"><i class="material-icons">close</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
    <div class="row" *ngIf="addNewPro">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">mail_outline</i>
            </div>
            <h4 class="card-title">Create New Product</h4>
          </div>
          <div class="col-md-12 mr-auto text-center">
            <div class="card-body">
              <form method="#" action="#">
                <legend>Product Image *</legend>
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                  <div class="fileinput-new thumbnail">
                    <img src="{{product_image}}" alt="...">
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail"></div>
                  <div>
                    <span class="btn btn-rose btn-round btn-file">
                      <span class="fileinput-new">Select images</span>
                      <span class="fileinput-exists">Change</span>
                      <input type="file" name="..." id="pro_images" multiple />
                    </span>
                    <a href="" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                        class="fa fa-times"></i> Remove</a>
                  </div>
                </div>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Product Name *" type="text" name="bn" [(ngModel)]="product_name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Price *" type="number" id="cat_desc" name="price"
                    [(ngModel)]="product_price">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Product Description *" rows="5" type="text" name="fd" [(ngModel)]="product_desc"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Product Type *" [(ngModel)]="product_type" name="pty" ariaLabel="product_type_data[0]">
                        <mat-option *ngFor="let bd of product_type_data" [value]="bd.value">
                          {{bd.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Product Category *" [(ngModel)]="product_cat" name="cat" ariaLabel="main_categories[0]">
                        <mat-option *ngFor="let bd of main_categories" [value]="bd.name">
                          {{bd.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <tag-input *ngIf="!isMerchantAccount" [maxItems]='1' [editable]='false' [(ngModel)]='product_merchant' [onlyFromAutocomplete]="true" secondaryPlaceholder="Enter product merchant." name="btg3" theme='filled-theme'>
                    <tag-input-dropdown [autocompleteItems]="merchants">
                    </tag-input-dropdown>
                </tag-input>
                <mat-form-field>
                    <mat-select placeholder="Product Status *" [(ngModel)]="product_status" name="ty" ariaLabel="true_false_data[0]">
                        <mat-option *ngFor="let bd of true_false_data" [value]="bd.value">
                          {{bd.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose a start date for product period" (click)="picker.open()" name="start"
                    [(ngModel)]="product_start_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <small>{{product_start_date}}</small>
                  </mat-form-field>
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker2" placeholder="Choose an end date for product period" (click)="picker2.open()" name="end"
                      [(ngModel)]="product_end_date">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                      <small>{{product_end_date}}</small>
                  </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Coupon Code *" type="text" name="cc" [(ngModel)]="product_coupon_code">
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Coupon Value Type *" [(ngModel)]="product_coupon_value_type" name="cvt" ariaLabel="coupon_value_data[0]">
                        <mat-option *ngFor="let bd of coupon_value_data" [value]="bd.value">
                          {{bd.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Coupon Value *" type="number" name="cv" [(ngModel)]="product_coupon_value">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Dynamic Link" type="url" disabled name="dyLink"
                      [(ngModel)]="product_dynamic_link">
                  </mat-form-field>
                
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-footer ">
            <button mat-raised-button type="submit" class="btn btn-fill btn-rose"
              (click)="productSubmitClicked()">Submit</button>
            <button mat-raised-button type="submit" class="btn btn-fill btn-danger"
              (click)="cancelAddPro()">Cancel</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>